---
---

<style>
    .about_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10ch;
        font-size: 20px;
    }
    .about_content {
        max-width: 50ch;
        >.button_download {
            border-radius: 6.415px;
            background: linear-gradient(90deg, #63067d 6.3%, #0074c4 97.24%);
            padding: 15px;
            color: white;
            border-width: 0;
            font-family: 'Syntha Nova';
        }
    }
</style>
<div class="about_container">
    <div class="about_content">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
            odit, saepe deleniti rem esse ut. Quae atque eum nulla numquam ex
            explicabo rem! Quidem excepturi pariatur placeat voluptate,
            explicabo suscipit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            sunt magni odit aliquid quam nemo corporis commodi alias sed omnis
            veritatis iusto quisquam doloremque dolorum, mollitia quia, earum
            nesciunt iste.
        </p>
        <button class="button_download">DESCARGAR CV</button>
    </div>
    <div>
        <img src="/imgs/laptop.png" />
    </div>
</div>
