<style>
    .education_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        width: 100%;
    }
    .education_content {
        width: 90ch;
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }
    .education_icon {
        border-radius: 15px;
    }
</style>
<div class="education_container">
    <div class="education_content">
        <img class="education_icon" src="imgs/idat.png" width="180"/>
        <div class="education_description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                similique delectus molestias! Quidem ab cumque deleniti aliquam
                illum? Molestiae vero delectus quod facere! Sunt, architecto!
                Deleniti dolorum necessitatibus rem architecto?
            </p>
        </div>
    </div>
    <div class="education_content">
        <img class="education_icon" src="imgs/idat.png" width="180"/>
        <div class="education_description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                similique delectus molestias! Quidem ab cumque deleniti aliquam
                illum? Molestiae vero delectus quod facere! Sunt, architecto!
                Deleniti dolorum necessitatibus rem architecto?
            </p>
        </div>
    </div>
</div>
