---
---

<style>
    header {
        background-color: #151523;
        height: 80px;
        position: sticky;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
		left: 0;
        font-size: 18px;
        font-weight: 400;
        z-index: 100;
    }

    .menu-icon {
        display: none;
    }
    .navigation {
        /* width: 800px; */
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin: 0 auto;
        margin-right: 10px; */
        margin-right: 50px;
    }
    .navigation > .links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 65px;
    }
    .link__item {
        display: inline-block;
    }
    .link__item > a {
        text-decoration: none;
        color: white;
    }
    .link__item > a.underlying {
        position: relative;
        display: inline-block;
    }
    .link__item > a.underlying:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        background-image: linear-gradient(to right, rgba(99, 6, 125, 1), rgba(0, 82, 153, 1), rgba(3, 128, 212, 1));
    }

    @media (max-width: 1314px) {
        header {
            width: 100%;
            border-radius: 0;
            font-size: 16px;
        }

        .navigation > .links {
            gap: 30px;
        }
    }

    @media (max-width: 800px) {
        .navigation {
            display: none;
        }

        .menu-icon {
            display: inline-block;
        }
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background-color: #151523;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .button-icon {
        width: 20px;
        height: 20px;
        fill: white;
        margin-right: 5px;
    }
</style>
<script>
    function goTo() {
        console.log("going to")
    }
</script>
<header>

    <img src="imgs/IconoDico.svg" width="80" height="80" />
    <nav class="navigation">
        <ul class="links">
            <li class="link__item" style="color: white">
                <a class="underlying" href="#about">Sobre mi</a>
            </li>
            <li class="link__item" style="color: white">
                <a  href="#education">Formacion</a>
            </li>
            <li class="link__item" style="color: white">
                <a href="#abilities">Habilidades</a>
            </li>
            <li class="link__item" style="color: white">
                <a href="#projects">Proyectos</a>
            </li>
            <li class="link__item" style="color: white">
                <a href="#contactme">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="menu-icon">
        <button class="button">
            <img src="imgs/menu-icon.svg" width="35" height="35">
        </button>
    </div>
</header>
